<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Triposse-Corporate</title>
    <link rel='stylesheet' href='js/vendor/bootstrap/dist/css/bootstrap.min.css'/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Crimson+Text|Dosis|Inconsolata|Josefin+Sans|Source+Serif+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manuale" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.min.css'/>
    <link rel='stylesheet' href='/stylesheets/font.css'/>

    <script src="js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="js/corporate.js"></script>
</head>

<body>
  <div class="page-container">
    <div class="header">
      <div class="navigation fix-position-top">
        <div class="navigation-wrapper">
          <div class="logo">
            <img src="../images/logo/final2.png" />
          </div>
          <div class="nav-option">
            <ul>
              <a href="/"><li>Home</li></a>
              <a href="/corporate"><li>Corporate</li></a>
              <a href="/stays"><li>Hatke Stays</li></a>
              <a href="/blog"><li>Stories</li></a>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="site-container margin-top-78">
      <div class="image-container">
        <div class="section-wrapper">
          <div class="section-container">
            <div class="section-holder">
              <div class="sub">
                <h2 id="parallelogram">
                  <div class="reason">Why Choose Us?</div>
                </h2>
              </div>
            </div>
            <div class="text-holder">
              <div class="text" id="text1">
                Integrated Itineraries
              </div>
              <div class="text" id="text2">
                Simple onboarding
              </div>
              <div class="text" id="text3">
                Unique themes
              </div>
            </div>
            <div class="button-group">
              <button class="next">What's Next?</button>
              <button class="interested">Now you got me interested.</button>
            </div>
          </div>
        </div>
      </div>
      <div class="registration" id="registration">
        <div class="registration-wrapper"></div>
        <div class="signup-wrapper">
          <div class="thanks">
            <h2>Thank you for registering</h2>
            <h4>We will get back to you shortly</h4>
          </div>
          <div class="signup-form">
            <div class="signup-heading">
              <h3>Register</h3>
            </div>
            <div class="submenu">
              <form class="signup" id="register">
                <input class="signup-input" placeholder="Name" name="name" type="text" required="">
                <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>

                <input class="signup-input" placeholder="Company Name" name="companyName" type="text" required="">
                <span class="icon1"><i class="fa fa-building-filled" aria-hidden="true"></i></span>

                <input class="signup-input" placeholder="Company City" name="companyCity" type="text" required="">
                <span class="icon1"><i class="fa fa-location" aria-hidden="true"></i></span>

                <input class="signup-input" placeholder="Email" name="email" type="text" required="">
                <span class="icon1"><i class="fa fa-mail-alt" aria-hidden="true"></i></span>

                <input class="signup-input" placeholder="Phone Number" name="number" type="text" required="">
                <span class="icon1"><i class="fa fa-phone" aria-hidden="true"></i></span>

                <input class="signup-submit" type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="footer-wrapper">
        <div class="help">
          <div class="help-title">
            <h4>Need Help?</h4>
          </div>
          <div class="help-content">
            <ul>
              <li><i class="fa fa-phone"></i><span style="margin-left:5px"></span>+91-8010209886</li>
              <li><i class="fa fa-mail"></i><span style="margin-left:5px"></span>triposse@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="help">
          <div class="help-title">
            <h4>About</h4>
          </div>
          <div class="help-content">
            <ul>
              <li><a href="#"><span style="margin-left:5px"></span>About us</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>FAQ</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="help">
          <div class="help-title">
            <h4>Discover</h4>
          </div>
          <div class="help-content">
            <ul>
              <li><a href="#"><span style="margin-left:5px"></span>Blog</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>Tour guide</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>Gallery</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="share">
        <div class="content-wrapper" style="margin-top: 20px; width: 400px;">
          <ul style="list-style:none; text-align:center; padding:0;">
            <a href="https://www.facebook.com/triposse/" target="_blank"><li class="round-icon"><i class="fa fa-facebook-squared"></i></li></a>
            <a href="https://twitter.com/Triposse2" target="_blank"><li class="round-icon"><i class="fa fa-twitter"></i></li></a>
            <a href="https://www.instagram.com/go_triposse/?hl=en" target="_blank"><li class="round-icon"><i class="fa fa-instagram"></i></li></a>
          </ul>
          <div style="text-align: center;">
            <p>&#169; 2017 <span class="tnc">Triposse</span> All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
