<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <base href="/">
  <title>Blog-Triposse</title>
  <link rel='stylesheet' href='js/vendor/bootstrap/dist/css/bootstrap.min.css'/>
  <link rel="stylesheet" href="/stylesheets/main.min.css">
  <link rel='stylesheet' href='/stylesheets/font.css'/>
  <script src="js/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/js/blog.js"></script>
</head>
<body>
  <div class="page-container">
    <div class="header">
      <div class="navigation fix-position-top">
        <div class="navigation-wrapper">
          <div class="logo">
            <img src="../images/logo/final2.png" />
          </div>
          <div class="nav-option">
            <ul>
              <a href="/"><li>Home</li></a>
              <a href="/corporate"><li>Corporate</li></a>
              <a href="/stays"><li>Hatke Stays</li></a>
              <a href="/blog"><li>Stories</li></a>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="site-container">
      <div class="add-story-container">
        {{#if storyFlag}}
          <form action="/blog/add/share" method="post" class="bg-black-transparent">
            <div class="story-form">
              <h1>Share your story</h1>
              <div class="story-text smaller-width">
                All of us have cool travel stories! Those missed trains, memorable detours, unexplored places, chance acquaintances and a whole lot more! So tell us your story and let the world get to know how to make the best use of a getaway!
              </div>
              <div class="form-details">
                <div class="text-field">
                  <input type="text" placeholder="Name" name="name" class="user-name" required="">
                </div>
                <div class="text-field">
                  <input type="email" placeholder="Email" name="email" class="user-email" required="">
                </div>
                <div class="story-input">
                  <textarea name="storydetails" id="storydetails" cols="30" rows="10" placeholder="What's your Story ?" class="user_text"></textarea>
                </div>
                <input class="signup-submit" type="submit" placeholder="Submit" value="Submit" style="background-color:rgba(15,5,55,1) !important">
              </div>
            </div>
          </form>
        {{else}}
          <div class="story-thank">
            <h1>Thanks for submitting your story. We will publish it in our stories section very soon with your details</h1>
            <script>
              setTimeout(function(){
                window.location.href = "http://www.triposse.com/"
              },5000);
            </script>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="footer-container">
      <div class="footer-wrapper">
        <div class="help">
          <div class="help-title">
            <h4>Need Help?</h4>
          </div>
          <div class="help-content">
            <ul>
              <li><i class="fa fa-phone"></i><span style="margin-left:5px"></span>+91-8010209886</li>
              <li><i class="fa fa-mail"></i><span style="margin-left:5px"></span>triposse@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="help">
          <div class="help-title">
            <h4>About</h4>
          </div>
          <div class="help-content">
            <ul>
              <li><a href="#"><span style="margin-left:5px"></span>About us</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>FAQ</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="help">
          <div class="help-title">
            <h4>Discover</h4>
          </div>
          <div class="help-content">
            <ul>
              <li><a href="#"><span style="margin-left:5px"></span>Blog</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>Tour guide</a></li>
              <li><a href="#"><span style="margin-left:5px"></span>Gallery</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="share">
        <div class="content-wrapper" style="margin-top: 20px; width: 400px;">
          <ul style="list-style:none; text-align:center; padding:0;">
            <a href="https://www.facebook.com/triposse/" target="_blank"><li class="round-icon"><i class="fa fa-facebook-squared"></i></li></a>
            <a href="https://twitter.com/Triposse2" target="_blank"><li class="round-icon"><i class="fa fa-twitter"></i></li></a>
            <a href="https://www.instagram.com/go_triposse/?hl=en" target="_blank"><li class="round-icon"><i class="fa fa-instagram"></i></li></a>
          </ul>
          <div style="text-align: center;">
            <p>&#169; 2017 <span class="tnc">Triposse</span> All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
